.index {
    position: relative;
    display: grid;
    grid-template-areas:
        'header header'
        'player videos';
    left: 20px;
    float: left;
}

.videoHeader {
    grid-area:header;
}

.player {
    width: 640px;
    height: 360px;
    grid-area: player;
    background-color: grey;
}

.videosList {
    grid-area: videos;
    padding-left: 5px;
}

