:root {
    --playerWidth: 640px;
    --playerHeight: 360px;
    --controlsBarHeight: 50px;
    --controlsBarBorderRadius: 10px;
}

.index {
    position: relative;
    display: grid;
    grid-template-areas:
        "header header"
        "player videos"
        "controls videos";
    left: 20px;
    float: left;
}

.videoHeader {
    grid-area: header;
}

.player {
    width: var(--playerWidth);
    height: var(--playerHeight);
    grid-area: player;
    background-color: grey;
}

.videosList {
    grid-area: videos;
    padding-left: 5px;
}

.controlsBar {
    grid-area: controls;
    border-top: white solid 2px;
    width: var(--playerWidth);
    height: var(--controlsBarHeight);
    background-color: #606060;
    border-radius: var(--controlsBarBorderRadius);
    display: flex;
    align-items: center;
}

img.controlsBarIcon:hover {
    background-color: grey;
}

img.controlsBarIcon {
    position: relative;
    padding: 5px 5px 5px 5px;
    height: calc(0.7 * var(--controlsBarHeight));
    width: auto;
    left: calc(0.5 * var(--controlsBarBorderRadius));
    border-radius: 30%;
}
