:root {
    --playerWidth: 640px;
    --playerHeight: 360px;
}

.index {
    position: relative;
    display: grid;
    grid-template-areas:
        "header header"
        "player videos"
        "controls videos";
    left: 20px;
    float: left;
}

.videoHeader {
    grid-area: header;
}

.player {
    width: var(--playerWidth);
    height: var(--playerHeight);
    grid-area: player;
    background-color: grey;
}

.videosList {
    grid-area: videos;
    padding-left: 5px;
}

.controlsBar {
    grid-area: controls;
    border-top: white solid 2px;
    width: var(--playerWidth);
    height: 50px;
    background-color: black;
}
